<footer>
  <div class="container-wide">
    <a class="title" href="/"><img src="/assets/img/logo-text.png"></a>
    <div class="footer-inner">
      <nav>
        <ul>
          <li>
              <a href="/code-of-conduct">Code of Conduct</a>
          </li>
          <li>
              <a href="/faq">FAQ</a>
          </li>
          <li>
              <a href="/event-terms">Event Terms</a>
          </li>
        </ul>
      </nav>

      <div id="contact" class="footer-contact">
        <ul>
          <li>
              <p class="h6">GitHub</p>
              <a href="https://github.com/{{ site.github }}" target="_blank" rel="nofollow noreferrer">CodeDocsJECRC</a>
          </li>
          <li>
              <p class="h6">Twitter</p>
              <a href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="nofollow noreferrer">@CodeDocs</a>
          </li>
          <li>
              <p class="h6">Facebook</p>
              <a href="https://facebook.com/{{ site.facebook }}">CodeDocs</a>
          </li>
          <li>
              <p class="h6">Email</p>
              <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
