<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
<meta name="author" content="midhruvjaink" />
<!--robot-->
<link rel="manifest" href="/manifest.json" />
<link rel="icon" href="/assets/img/logo-16.png" />
<meta content="index, follow" name="robots" />
<meta content="1 days" name="revisit-after" />
<meta content="all" name="robots" />
<meta content="all" name="googlebot" />
<link rel="stylesheet" href="/assets/stylesheets/styles.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
