<header>
  <div class="container-wide">
    <h1 class="logo">
      <a href="/">
        <img src="/assets/img/logo-text.png" alt="JECRC Developers Group Logo Title">
      </a>
    </h1>
    <div class="header-nav">
      <nav id="main-nav" class="mobile-only">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/courses">Courses Index</a></li>
          <li><a href="/team">Team</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav>
    </div>
    <div class="header-join-btn">
      <a class="btn" href="https://join.slack.com/t/codedocs/shared_invite/enQtMjM1Mzg3MjA2OTQ0LWZhNDk4NDVkMjVhZGRmOWMzNzFjMWI5Mzg1ZjU4MzVhMTcyMzlkNjM0NWU3M2EyZTYyZDllMTgyYmRhNmMzZDg" target="_blank">Join</a>
    </div>
  </div>
</header>
